services:
  - type: web
    name: dallas-courier-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: JWT_SECRET
        generateValue: true
      - key: CLIENT_URL
        sync: false
      - key: PORT
        value: 10000

